<h1>Editing bike ride</h1>

<%= render "form", bike_ride: @bike_ride %>

<br>

<div>
  <%= link_to "Show this bike ride", @bike_ride %> |
  <%= link_to "Back to bike rides", bike_rides_path %>
</div>
